<header class="site-header">
    <div class="site-identity">
        <h1>
            <a href="/"> Home Guard <i class="fa-solid fa-shield"></i> </a>
        </h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li>
                <a href="/" class=""><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li>
                <a href="/sensors/all" class=""><i class="fas fa-thermometer-half"></i> Sensors</a>
            </li>
            <li>
                <a href="/devices" class=""><i class="fa-solid fa-house-laptop"></i> Devices</a>
            </li>
            <li>
                <a href="/profile"><i class="fas fa-user"></i> Profile</a>
            </li>
            <li>
                <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>
    </nav>
</header>
<script src="/js/header.js"></script>
