<div class="sidebar-section" id="sidebar">
    <h2 class="sidebar-title">
        <span class="sidebar-info-text">Information</span>
    </h2>
    <ul>
        <li>
            <a href="/dashboard"><i class="fa-solid fa-chart-line"></i> <span>Dashboard</span></a>
        </li>
        <li>
            <a href="/lcd"><i class="fa-solid fa-tv"></i><span>LCD</span></a>
        </li>
        <li>
            <a href="#"><i class="fas fa-water"></i> <span>Air humidity</span></a>
        </li>
        <li>
            <a href="#"><i class="fas fa-running"></i> <span>Movement</span></a>
        </li>
    </ul>
</div>

<div class="info-icon" id="menu-toggle">
    <i class="fa-solid fa-bars"></i>
</div>

<script src="/js/sidebar.js"></script>
